<% content_for :title, t('faqs.title') %>

<h1 class="text-4xl font-bold text-center my-8 text-gray-500"><%= t('faqs.header') %></h1>

<div class="max-w-3xl mx-auto text-gray-500">
  <% @faqs.each_with_index do |faq, index| %>
    <div class="collapse collapse-arrow mb-4 bg-green-100">
      <input type="checkbox" name="faq-accordion-<%= index %>" id="faq-<%= index %>" />
      <div class="collapse-title text-xl font-bold">
        <%= faq[:question] %>
      </div>
      <div class="collapse-content">
        <p><%= faq[:answer] %></p>
      </div>
    </div>
  <% end %>
</div>