<% content_for :title, t('devise.registrations.new.title') %>

<div class="min-h-screen bg-gray-100 flex items-center justify-center">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
    <h2 class="text-2xl font-bold text-center mb-6"><%= t('devise.registrations.new.sign_up') %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="field flex flex-col mb-4">
        <%= f.label :name, t('devise.registrations.new.nickname'), class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "mt-1 px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm" %>
      </div>

      <div class="field flex flex-col mb-4">
        <%= f.label :email, t('devise.registrations.new.email'), class: "block text-sm font-medium text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm" %>
      </div>

      <div class="field flex flex-col mb-4">
        <%= f.label :password, t('devise.registrations.new.password'), class: "block text-sm font-medium text-gray-700" %>
        <% if @minimum_password_length %>
          <em class="text-xs text-gray-500"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm" %>
      </div>

      <div class="field flex flex-col mb-4">
        <%= f.label :password_confirmation, t('devise.registrations.new.password_confirmation'), class: "block text-sm font-medium text-gray-700" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm" %>
      </div>

      <div class="actions">
        <%= f.submit t('devise.registrations.new.sign_up_button'), data: { turbo: false }, class: "w-full py-2 px-4 bg-secondary text-gray-700 font-bold rounded-md hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-indigo-500", id: "no-double_click-button" %>
      </div>
    <% end %>

    <div class="flex items-center my-4">
      <div class="flex-grow border-t border-gray-300"></div>
        <span class="mx-2 text-sm text-gray-400"><%= t('devise.registrations.new.or_continue_with') %></span>
      <div class="flex-grow border-t border-gray-300"></div>
    </div>

    <div class="flex space-x-4 justify-center">
      <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }, class: "flex items-center py-2 px-4 border border-gray-300 rounded-md hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-50", id: "no-double_click-button" do %>
        <img src="https://www.svgrepo.com/show/355037/google.svg" alt="Google" class="h-5 w-5 mr-2 inline-block" />
        <span class="inline-block">Google</span>
      <% end %>
    </div>

    <p class="mt-4 text-sm text-center text-gray-500">
      <%= t('devise.registrations.new.already_have_account') %>
      <%= link_to t('devise.registrations.new.sign_in_link'), new_user_session_path, class: "text-blue-500 hover:underline" %>
    </p>
  </div>
</div>



