<% content_for :title, t('reviews.index.title') %>

<ul class="space-y-4">
  <% @reviews.each do |review| %>
    <li class="bg-white shadow-lg rounded-lg p-6 flex justify-start items-start space-x-4">
      <div class="flex-1">
        <h2 class="text-xl font-semibold mb-2"><%= t('reviews.index.product_name') %>: <%= review.reviewable.name %></h2>
        <div class="flex items-center mb-4">
          <strong class="mr-2"><%= t('reviews.index.rating') %>:</strong> 
          <span class="text-yellow-500 text-xl"><%= '★' * review.rating %></span>
        </div>
        <p class="mb-4"><strong><%= t('reviews.index.comment') %>:</strong> <%= review.comment %></p>
        <div class="flex space-x-4">
          <%= button_to t('reviews.index.delete'), review_path(review), method: :delete, data: { turbo_confirm: t('reviews.index.confirm_delete') }, class: "bg-green-100 hover:bg-green-200 text-gray-700 font-bold py-2 px-4 rounded cursor-pointer" %>
        </div>
      </div>
      <div class="w-32 h-32 flex-shrink-0">
        <img src="<%= review.reviewable.item_image_url %>" alt="<%= review.reviewable.name %>" class="object-cover w-full h-full rounded-lg">
      </div>
    </li>
  <% end %>
</ul>





