<%# ナビゲーションバー(ログイン前) %>
<header class="navbar bg-primary">
  <div class="flex-1">
    <img src="<%= asset_path('favicon.ico') %>" alt="LeafWhisper Logo">
    <%= link_to 'LeafWhisper', root_path, class: "btn btn-ghost text-xl font-bold" %>
    <%= render 'products/search_form', q: @q, url: search_products_path %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to '新規登録', new_user_registration_path %></li>
      <li><%= link_to 'ログイン', new_user_session_path%></li>
      <li><%= link_to 'カフェ検索', search_cafes_path %></li>
      <li><a>メニュー</a></li>
    </ul>
  </div>
</header>