<%# ナビゲーションバー(ログイン後) %>
<header class="navbar bg-primary flex items-center justify-between p-4">
  <div class="flex items-center space-x-4">
    <%= link_to 'LeafWhisper', root_path, class: "btn btn-ghost text-xl font-bold" %>
    <%= render 'products/search_form', q: @q, url: search_products_path %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 items-center">
      <li class="font-bold">ようこそ<%= current_user.display_name %>さん！</li>
      <li><%= link_to '編集', edit_user_registration_path %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %></li>
      <li><a>メニュー</a></li>
    </ul>
  </div>
</header>