<%= turbo_stream.append "reviews_#{@reviewable.url_hash}", partial: "reviews/review", locals: { review: @review } %>
<%= turbo_stream.replace "modalContent" do %>
  <div class="text-center">
    <h2 class="text-2xl font-bold mb-4"><%= t('reviews.streams.review_posted_title') %></h2>
    <p class="mb-4"><%= t('reviews.streams.thank_you_message') %></p>
    <button id="close-modal" class="bg-green-500 text-gray-500 font-bold py-2 px-4 rounded"><%= t('reviews.streams.close_button') %></button>
  </div>
<% end %>
<%= turbo_stream.prepend "flash", partial: "shared/flash_message", locals: { message: t('reviews.streams.review_posted_flash') } %>