<title><%= t('meta.title') %></title>
<meta name="description" content="<%= t('meta.description') %>" />
<meta name="keywords" content="<%= t('meta.keywords') %>" />

<meta property="og:title" content="<%= t('meta.og_title') %>" />
<meta property="og:description" content="<%= t('meta.og_description') %>" />
<meta property="og:image" content="https://leafwhisper.onrender.com/images/ogp_image.png" />
<meta property="og:url" content="https://leafwhisper.onrender.com" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="<%= I18n.locale == :ja ? 'ja_JP' : 'en_US' %>" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="<%= t('meta.twitter_title') %>" />
<meta name="twitter:description" content="<%= t('meta.twitter_description') %>" />
<meta name="twitter:image" content="https://leafwhisper.onrender.com/images/ogp_image.png" />