<!DOCTYPE html>
<html>
  <head>
    <title>LeafWhisper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-base-100 text-neutral">
    <%# ヘッダーの表示 %>
    <div class="w-full">
      <% if user_signed_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>  
    </div>
    <%= yield %>
    <%# フッターの表示 %>
    <%= render 'shared/footer' %>
  </body>
</html>
