<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/meta_tags' %>
    <%= favicon_link_tag 'favicon.png' %>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" crossorigin="anonymous">
    <!-- Google Analytics -->
    <%= render 'layouts/google_analytics' %>
  </head>
  <body class="bg-base-100 text-neutral flex flex-col min-h-screen">
    
      <%# ヘッダーの表示 %>
      <div class="w-full">
        <% if user_signed_in? %>
          <%= render 'shared/header' %>
        <% else %>
          <%= render 'shared/before_login_header' %>
        <% end %>  
      </div>
      <%# フラッシュメッセージの表示 %>
      <div class="flex-grow container mx-auto"> 
        <div id="flash">
          <%= render 'shared/flash_message' %>
        </div>
        <%= yield %>
      </div>
      <%# フッターの表示 %>
      <%= render 'shared/footer' %>
  </body>
</html>
